* {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Ubuntu, Cantarell, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header, .main-content {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 100px;
}

.header-links {
    color: #E5E7EB;
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo {
    max-width: 10%;
    height: auto;
}

.main-content img {
    height: 150px;
}

